:root {
    font-family: 'Space Mono', monospace;
    /* font-family: 'Mulish', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    --color-white: #FFFFFF;
    --color-lightGray: #858584;
    --color-gray: #3B3B3B;
    --color-blackGray: #2B2B2B; 
    --color-purple: #A259FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}